# hubploy, chartpress
docs/_build
**/charts
**/*.lock
**/*.tgz

# decrypted secrets (pre-commit checks will catch this but this is jsut extra safe
**/*.dec.*
**/.decrypted*

# vi
**/*.swp

# python
**/__pycache__
**/*.pyc

# random stuff
**/.DS_Store
**/*.bak

# deployment configs
_deploy_configs/*.yaml
!_deploy_configs/institution-example.yaml
git-manage.sh

# ignore all local claude files
.claude/**
