# hubploy, chartpress
docs/_build
hub/charts
**/*.lock
**/*.tgz

# decrypted secrets (pre-commit checks will catch this but this is jsut extra safe
**/*.dec.*

# vi
**/*.swp

# python
**/__pycache__
**/*.pyc

# random stuff
**/.DS_Store
**/*.bak

_deploy_configs/*
